body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #343a40;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #dee2e6;
}

th {
    background-color: #343a40;
    color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#user-stats {
    text-align: center;
}

#userChart {
    width: 800px;
    height: 400px;
    max-width: 100%; /* Ensures responsiveness */
    max-height: 100%; /* Ensures responsiveness */
}



#timeframe {
    margin: 20px;
}